
<div class="content" role="main">
  <form [formGroup]="captureForm" (ngSubmit)="onSubmit()" >
    <div class="formcontainer">
      <hr/>
      <div class="container">
        <label><strong>Full Names</strong></label>
        <input type="text" class="form-control" placeholder="Enter Full Names" formControlName="fullName" required>
        <label><strong>South African ID number</strong></label>
        <input type="text" class="form-control" placeholder="Enter ID Number" formControlName="idNumber" required>
      </div>
      <button type="submit">Create Person</button>
    </div>
  </form>

  <div>
      <table>
        <tr>
          <th>Full Name</th>
          <th>SA ID number</th>
        </tr>
        <tr *ngFor="let com of persons">
          <th>{{com.fullName}}</th>
          <th>{{com.idNumber}}</th>
        </tr>

      </table>
  </div>

</div>
